/* Contenedor de imagenes*/
.imagenes{
    position: absolute;
    width: auto;
    height: auto;
    left: 47px;
    top: 210px;
}

/* Para ordenar imagenes rn una fila */
.fila1{
    display: flex;
}

/* Imagenes individuales */
.img{
    border: 2px solid #00b386;
    padding: 20px;
    margin-right: 40px;
    height: 600px;
}

.img img{
    width: 382px;
    height: 382px;
}